* {
  font-family: Garamond, serif;
}

body, html {
  margin: 0;
  padding: auto;
}

#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  height: 30px;
}

#navbar li {
  display: inline-block;
  color: #d9d9d9;
  position: relative;
  top: 5px;
  padding: 2px
}

#Sign {
  float: right;
}

#Google img{
  display: block;
  margin: auto;
  max-width: 100%;
  position: relative;
  top: 100px;
}
#Search_Bar{
  height: 40px;
  width: 40px;
  border-style: solid;
  border-width: thin;
  display: block;
  width: 700px;
  height: 35px;
  position: relative;
  top: 50px;
  left: 350px;
}

#Bar_1, #Bar_2 {
  display:inline-block;
  background-color: #D3D3D3;
  position: relative;
  top: 40px;
  left: 500px;
  margin: 30px;
  padding: 2px 5px;
  border-style: solid;
  border-width: thin;
}
